:host {
    .main-page {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;

        h1 {
            color: #fff;
            margin-bottom: 1rem;
        }

        .sign-up {
            background-color: rgb(82, 11, 98);
            color: white;
        }

        .log-in {
            background-color: #bcbcbc;
            color: rgb(43, 41, 41);
        }
    }
}