$color: #fff;
$backgroundColor: #372242;
$backgroundColorCard: #180124;
$borderColorCard: #5f5763;
$directedColor: #fff;

:host {
    .movies {
        background-color: $backgroundColor;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 0;
        min-height: 100%;
    }

    button {
        color: $color;
    }

    .mat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $color;
        border: 1px solid $borderColorCard;
        overflow: hidden;
        border-radius: 8px;
        background-color: $backgroundColorCard;
        max-width: 280px;
        width: 280px;
        margin: 15px;
        box-shadow: 0 0 20px grey;
    }

    .mat-card-header {
        height: 90px;
        display: flex;
        align-items: center;
        color: $color;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .mat-card-title {
        display: flex;
        max-width: 210px;
        justify-content: center;
        text-align: center;
    }

    img {
        height: 350px;
        width: 200px;
        object-fit: contain;
        margin-top: 15px;
    }

    .add-to-favorite-btn {
        &:hover {
            cursor: pointer;
        }

        .mat-icon {
            &.not-favorite {
                color: white;
            }

            &.favorite {
                color: red;
            }
        }
    }
}