$backgroundColor: #372242;
$cardColor: #180124;
$textColor: #fff;
$boxShadowColor: grey;
$labelColor: #636363;

* {
  box-sizing: border-box;
}

.user-reg-page {
    box-shadow: 0 0 40px $boxShadowColor;

}

.mat-card-reg {
    max-width: 300px;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    box-shadow: 0 0 60px $boxShadowColor;
    background-color: $cardColor;
    justify-content: space-evenly;
    color: $textColor;
}

.mat-card-header {
  margin-bottom: 20px;
  color: $textColor;
  display: flex;
  justify-content: center;
  color: $textColor;
}

mat-label {
  color: $labelColor;
}

input.mat-input-element {
  color: $textColor;
}

.mat-form {
    box-shadow: 0 0 40px $boxShadowColor;
}

.mat-card > .mat-card-actions {
  margin-left: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  
}