$color: #fff;
$backgroundColor: #372242;
$borderColorCard: #372242;


.profile {
    background-color: $backgroundColor;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &-card-header {
        font-size: 1.3rem;
        color: #000;
        padding-bottom: 1rem;
        box-sizing: border-box;
        font-weight: 500;
        text-align: center;
    }

    &-update {
        &-header {
            color: #000;
            font-size: 1.2rem;
            font-weight: normal;
            padding-bottom: 0.5rem;
        }



        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-actions {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        &-update-btn {
            background-color: rgb(82, 11, 98);
            color: white;
            border-color: #5f5763;
            box-shadow: grey;

        }

        &-delete-btn {
            background-color: #bcbcbc;
            color: rgb(43, 41, 41);
            box-shadow: grey;
        }
    }
}